body {
	background-color: #67c5db;
	font-size: 18px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1em;
	font-weight: bold;
}

a, a:visited, a:active, a:link {
	color: #dedee0;
	font-size: 14px;
	text-decoration: none;
	transition: color .5s;
}

a:hover {
	color: #fff;
}

.container {
	width: 100%;
}

.login {
	border: 2px solid #a1a1a1;
	border-radius: 10px;
	margin: 10% auto;
}

.formHeader {
	width: 100%;
	height: 10%;
	background-color: #dedee0;
	border-bottom: 2px solid #a1a1a1;
	text-align: center;
	padding: 3% 0 0 0;
	border-radius: 10px 10px 0 0;
}

form {
	background-color: #eff0f2;
	padding: 5%;
	border-radius: 0 0 10px 10px;
	box-shadow: inset 0 0 5px #a1a1a1;
}

input[type="text"], input[type="password"] {
	outline: none;
	font-family: caption;
	border: 4px double #dedee0;
	padding: 5px;
	margin: 5% 0 0 0;
	box-shadow: inset 0 0 0 #a1a1a1;
	transition: box-shadow .4s;
}

input[type="text"]:hover, input[type="password"]:hover {
	box-shadow: inset 0 0 4px #ddd;
}

input[type="text"]:focus, input[type="password"]:focus {
	box-shadow: inset 0 0 10px #a1a1a1;
}

button {
	outline: none;
	color: #a1a1a1;
	font-weight: bold;
	text-align: center;
	background-color: #dedee0;
	border: 2px solid #a1a1a1;
	transition: color .5s, background-color .5s, box-shadow .5s;
	cursor: pointer;
}

button:hover {
	color: #000;
	background-color: #dedee0;
	box-shadow: 0 0 5px #000, inset 0 0 0 #000;
}

button:active {
	box-shadow: 0 0 0 #000, inset 0 0 5px #000;
	background-color: #bbb;
}



.remember {
	font-size: 12px;
}

.forgot {
	width: 100%;
	font-size: 3em;
}


 /* displays of 500px or larger */
@media (min-width:500px) {
	
	form {
		height: 224px;
	}	
	
	.containter {
		height: 323px;
	}
	
	.login {
	width: 500px;
	height: 323px;
	}
	
	input[type="text"], input[type="password"] {
		width: 430px;
		font-size: 20px;
	}
	
	button {
	font-size: 20px;
	width: 125px;
	height: 50px;
	margin: 45px 0 0 110px;
	border-radius: 25px;
	}
	
	checkbox {
		margin: 5% 0 0;
	}
	
	.forgot a {
		margin: 0 0 0 35%;
	}
	
	.remember {
		margin: 5% 0 0 10px;
	}
}

 /* displays of less than 500 pixels */
@media (max-width:499px) {
	
	.container {
		height: 297px;
	}
	
	
	.login {
		width: 300px;
		height: 100%;
	}
	
	input[type="text"], input[type="password"] {
		width: 250px;
		font-size: 15px;
	}
	
	button {
		font-size: 14px;
		width: 225px;
		height: 40px;
		margin: 15% 0 0 7%;
		border-radius: 15px;
	}
	
	checkbox {
		margin: 10% 0 0;
	}
	
	.forgot a {
		margin: 0 0 0 25%;
	}
	
	.remember {
		margin: 6% 0 0 5%;
	}
	
	form {
		height: 226px;
	}
}